Укажите идентификатор банкомата:
* найдите нужный вам банкомат на <a href="https://www.tinkoff.ru/maps/atm/?partner=tcs&zoom=10&currency=RUB&amount=0">карте</a> и кликните на него
* найдите в информации о банкомате его <b>ID</b> вида <b>002222</b>
* пришлите этот идентификатор
