Укажи идентификатор банкомата:
* найди нужный тебе банкомат {{ '\xF0\x9F\x8F\xA7'|raw }} на <a href="https://www.tinkoff.ru/maps/atm/?partner=tcs&zoom=10&currency=RUB&amount=0">карте</a> и кликни на него
* найди в информации о банкомате его <b>ID</b> вида <b>009999</b>
* скопируй его и пришли мне
Вот <a href="https://www.youtube.com/watch?v=zAgyRwzrwsA">тут</a> можно посмотреть как это сделать, если совсем непонятно {{ '\xF0\x9F\x98\x9C'|raw }}
