Я тебя не понимаю {{ '\xF0\x9F\x98\xA5'|raw }}
Если ты хочешь, чтобы я тебя оповестил о наличии валюты в банкомате, напиши мне <a href="/add">/add</a>.
Если тебе нужно больше информации, то <a href="/help">/help</a>.
