Если ты хочешь, чтобы я тебя оповестил о наличии валюты в банкомате, напиши мне <a href="/add">/add</a>.
Если я надоел тебе со своими вопросами, то <a href="/cancel">/cancel</a>.
---
Обратная связь.

{{ '\xF0\x9F\x93\xA7'|raw }}️ E-mail: mrsuh6@gmail.com
