Если ты хочешь, чтобы я тебя оповестил о наличии валюты {{ '\xF0\x9F\x92\xB5'|raw }} в банкомате {{ '\xF0\x9F\x8F\xA7'|raw }}, напиши мне <a href="/add">/add</a>.
Если тебе надоели уведомления, то <a href="/clear">/clear</a>.
Если я надоел тебе со своими вопросами, то <a href="/cancel">/cancel</a>.
---
Обратная связь:
{{ '\xF0\x9F\x93\xA7'|raw }}️ e-mail: mrsuh6@gmail.com
