Привет {{ '\xF0\x9F\x98\x89'|raw }}
Я могу оповестить тебя, когда в банкомате Тинькофф {{ '\xF0\x9F\x8F\xA7'|raw }} появится нужная тебе валюта {{ '\xF0\x9F\x92\xB5'|raw }}.
Для этого напиши мне <a href="/add">/add</a> и следуй указаниям.
